<div class="row justify-content-center m-3 mt-5 mb-5 text-center">
  <div class="col-sm-12 col-md-10 col-xl-10 mt-3">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">{{ 'login.login'|trans }}
          <i class="fa fa-info-circle" aria-hidden="true"
             data-toggle="tooltip" data-placement="top" title="{{ 'login.login-text'|trans }}"></i>
        </h4>
        {% from '_layout/flashbags.html.twig' import flashbag_alert %}
        {% for flash_message in app.session.flashbag.get('authError') %}
          {{ flashbag_alert('danger', flash_message, 'fa-exclamation-triangle', false) }}
        {% endfor %}
        {{ form(loginForm, {attr: {target: '_parent'}}) }}
      </div>
    </div>
  </div>
</div>
