// Color used in the design

$ucgis-blue: #2b4e56;
$ucgis-orange: #e87338;
$ucgis-yellow: #ffcb39;
$ucgis-green: #39b299;
$ucgis-red: #e54a41;

// General layout colors
$background-color: #e4e4e4;
$drag-background-color: darken($background-color, 10%);
$drag-stripes-color: darken($background-color, 40%);

$loader-color: darken($background-color, 50%);

$soft-red: #ff524d;
$soft-yellow: #fff256;
$soft-green: #91ff6d;
