@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '../vars/vars';

.license-notice {
  margin-top: $spacer;
  display: flex;

  p {
    text-align: center;
  }

  > .license-image {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: $spacer * 0.5;
    height: 2rem;
    width: 3rem;
    background: url('../../img/footer/ltb-icon.svg') no-repeat bottom left;
    background-size: contain;
  }

  > .creative-commons-license {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: $spacer * 0.5;
    height: 2rem;
    width: 6.5rem;
    background: url('../../img/footer/license.svg') no-repeat bottom right;
    background-size: contain;
  }
}

h1 {
  font-size: 1rem;
}

.logo {
  width: 100px;
  height: auto;
}

.ucgis-orange-input-group {
  color: #000;
  background-color: lighten($ucgis-orange, 20%);
}

.ucgis-primary-btn {
  background-color: $ucgis-blue;
  color: #fff;
}

.ucgis-primary-btn:hover, .ucgis-primary-btn:focus {
  background-color: darken($ucgis-blue, 10%);
  color: #fff;
}

.ucgis-green-outline-btn {
  border-color: #39b299;
}

.ucgis-green-outline-btn:hover, .ucgis-green-outline-btn:focus {
  background-color: #299279;
  color: #fff;
}

.ucgis-yellow-outline-btn {
  border-color: #ffcb39;
}

.ucgis-yellow-outline-btn:hover, .ucgis-yellow-outline-btn:focus {
  background-color: #ffcb39;
}

.ucgis-blue-outline-btn {
  border-color: #2b4e56;
}

.ucgis-blue-outline-btn:hover, .ucgis-blue-outline-btn:focus {
  background-color: #2b4e56;
  color: #fff;
}

/* Small phones and up */
@media (min-width: 481px) {
  h1 {
    font-size: 1.25rem;
  }
}

/* Tablets and up */
@media (min-width: 769px) {
  h1 {
    font-size: 1.75rem;
  }
  .logo {
    width: 125px;
  }
}


